---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    Here, I showcase a selection of projects that delve into various finance-related topics. These projects highlight my journey through the intricate landscape of finance and machine learning. I will continue to expand this portfolio as I develop new ideas and explore emerging areas.
  </div>
{% endif %}

{% include base_path %}

<style>
  ul.portfolio-list {
    list-style-type: none;
    padding: 0;
  }
  ul.portfolio-list li {
    margin-bottom: 10px; /* Adjust this value to control the space between links */
    font-size: 18px; /* Adjust this value to control the size of the link text */
    color: #1e90ff; /* Set link color */
  }
  ul.portfolio-list li a {
    text-decoration: none; /* Remove underline from links */
    color: #1e90ff; /* Ensure link color matches text color */
  }
  ul.portfolio-list li a:hover {
    text-decoration: underline; /* Underline links on hover */
  }
</style>

<ul class="portfolio-list">
  {% for post in site.portfolio %}
    <li>- <a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
