---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">Here, I showcase a selection of projects that delve into various finance-related topics. These projects highlight my journey through the intricate landscape of finance and machine learning. I will continue to expand this portfolio as I develop new ideas and explore emerging areas. </a></div>
{% endif %}

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

